# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log

# Variables potencialmente sensibles
*.tfvars
*.tfvars.json

# Credenciales
.aws/
*.pem

# Sistema / IDE
.vscode/
.DS_Store
Thumbs.db